    * {
        box-sizing: border-box;
    }
    
    header {
        background-color: rgb(28, 28, 119);
        color: rgb(48, 195, 197);
        display: flex;
        justify-content: space-between;
        font-size: 36px;
    }
    
    header a {
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(48, 195, 197);
    }
    
    header nav ul li {
        display: inline-block;
    }
    
    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        background-color: rgb(48, 195, 197);
        color: rgb(28, 28, 119);
    }
    
    nav {
        justify-content: flex-end;
        margin-right: 25px;
        margin-top: 6px;
    }
    
    .hero {
        height: 300px;
        width: 100%;
        background-image: url("../assets/rose-sky.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
    }
    
    h2 {
        display: inline-block;
        position: absolute;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        right: 50px;
        bottom: 50px;
        padding: 0px;
        margin: 0px;
        background-color: aqua;
        color: rgb(28, 28, 119);
    }
    /* --------------------------*/
    
    .flex-column {
        display: flex;
        flex-direction: column;
    }
    
    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin: 20px 60px 25px 100px;
    }
    /* --------------------------*/
    
    h3 {
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-right: solid rgb(58, 37, 194);
        margin-right: 20px;
        color: rgb(28, 28, 119);
    }
    
    section {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: initial;
    }
    
    .portfolio-box {
        width: 800px;
        min-height: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .portfolio-item {
        border: 2px solid rgb(48, 195, 197);
        min-height: 100px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 49%;
        margin-bottom: 10px;
        background-image: url(./assets/solitude.jpg);
        padding-top: 40px;
        background-color: rgb(48, 195, 197);
    }
    
    .portfolio-item:first-child {
        flex-basis: 100%;
        min-height: 300px;
        padding-top: 25%;
    }
    
    .portfolio-item a {
        color: rgb(48, 195, 197);
        font-size: 18px;
        padding-top: 40px;
    }
    
    .portfolio-item:hover {
        opacity: 70%;
    }