header {
    background-color: rgb(28, 28, 119);
    color: rgb(48, 195, 197);
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    justify-content: flex-end;
    margin-right: 25px;
    margin-top: 6px;
}

.hero {
    height: 300px;
    width: 100%;
    background-image: url("../assets/landscape.webp");
    background-size: cover;
    background-position: center;
    position: relative;
}

h2 {
    display: inline-block;
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 0px;
    margin: 0px;
    background-color: aqua;
}

.about-me {
    /* display: flex;
    justify-content: flex-end;
    flex-direction: column; */
    position: static;
    background-color: #fff;
    float: left;
    flex-wrap: wrap;
}